<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="keyword" content="Quick Doc Service">
    <title th:text="${title}"></title>

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="../css/fontawesome-all.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/simple-line-icons.css"/>
    <!--layui and necessary plugins-->
    <link rel="stylesheet" type="text/css" href="../lib/layui/css/layui.css" media="all"/>
    <!-- Main styles for this application -->
    <link rel="stylesheet" type="text/css" href="../css/style.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/mxleader-style.css"/>
</head>

<body>

<div class="card">
    <form id="auth-form">
        <table class="table table-hover">
            <tr>
                <td align="right">类型:</td>
                <td>
                    <select id="authType" name="authType"
                            class="select custom-select">
                        <option th:each="entry : ${authTypeMap}"
                                th:value="${entry.key}"
                                th:text="${entry.value}">类型
                        </option>
                    </select>
                </td>
                <td align="right">名称:</td>
                <td>
                    <div class="template-input-icon-container">
                        <i class="fas fa-address-card"></i>
                        <input type="text" class="form-control"
                               placeholder="名称"
                               required="required"
                               id="name" name="name"/>
                    </div>
                </td>
                <td align="right">权限:</td>
                <td>
                    <select id="authAction" name="authAction"
                            class="select custom-select">
                        <option th:each="entry : ${authActionMap}"
                                th:value="${entry.key}"
                                th:text="${entry.value}">权限
                        </option>
                    </select>
                </td>
                <td>
                    <button type="button" id="addBtn" class="btn btn-success">
                        <i class="fas fa-plus-square"></i>
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>

<table class="layui-table" id="auth" lay-filter="authTable">
</table>

<!-- Bootstrap and necessary plugins -->
<script src="../js/jquery.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/pace.min.js"></script>
<script src="../lib/layui/layui.js" charset="utf-8"></script>

<script type="text/html" id="opsBar">
    <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del-auth">
        <i class="fas fa-trash-alt" title="删除"></i>
    </button>
</script>
<script th:inline="javascript">
    /*<![CDATA[*/

    layui.use('table', function () {
        var table = layui.table;
        var type = [[${type}]]
        var dataUrl = null;

        switch (type) {
            case 'DISK': {
                dataUrl = '/api/disk/auth';
            }
                break;
            case 'FOLDER': {
                dataUrl = '/api/folder/auth';
            }
                break;
        }
        var ops = {
            elem: "#auth",
            url: dataUrl,
            id: 'auth-data',
            where: {id: [[${parentId}]]},
            cols: [
                [
                    {field: 'type', width: 100, title: '对象类型', sort: true},
                    {field: 'name', align: 'center', title: '名称'},
                    {field: 'actions', align: 'center', width: 160, title: '授权行为'},
                    {align: 'center', width: 80, title: '操作', toolbar: '#opsBar'}
                ]
            ]
        };

        table.render(ops);

        //监听工具条
        table.on('tool(authTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del-auth') {
                layer.msg('ID号：' + data.type + '\n 名称：' + data.name);
            }
        });

    });

    $("#addBtn").click(function () {
        $.ajax({
            type: "POST",   //提交的方法
            url:"/api/disk/addAuth", //提交的地址
            data:$('#auth-form').serialize(),// 序列化表单值
            async: false,
            error: function(request) {  //失败的话
                alert("Connection error");
            },
            success: function(data) {  //成功
                alert(data);  //就将返回的数据显示出来
                window.location.href="跳转页面"
            }
        });
    });

    /*]]>*/
</script>
</body>
</html>