/*


Credit: www.cssmoban.com
	1. General
	2. login-form-1
	3. login-form-2
	4. inline-login
	5. create-account
	6. forgot-password
	7. contact-form-1
	8. contact-form-2
	9. payment-form
	10. Media Queries

--------------------------------------------*/
/* 1. General
--------------------------------------------*/


body { margin-bottom: 30px; }
h1 {
    font-weight: 300;
    font-size: 36px;
    line-height: normal;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}
h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: normal;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    color: #09F;
}

.green { color: #3C3; }
.gray { color: #999; }

.form-horizontal .control-label { padding-top: 0; }
.form-horizontal.template-payment-form .radio.template-no-padding-top {	padding-top: 0; }
.control-wrapper {
    position: relative;
    padding-left: 30px;
}
.control-wrapper label.fa-label {
    position: absolute;
    left: 4px;
    top: 6px;
}
.form-group:last-child { margin-bottom: 0; }
.form-horizontal .control-label { margin-bottom: 10px; }
.table { margin-bottom: 0; }
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th,
.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
}
.template-form-list-container { max-width: 600px; }
.template-input-icon-container { position: relative; }
.template-input-icon-container .fa {
    color: gray;
    position: absolute;
    left: 10px;
    top: 10px;
}
.template-input-icon-container input,
.template-input-icon-container textarea {
    padding-left: 30px;
}
.template-container {
    background-color: rgba(255,255,255,0.8);
    border: 1px solid #dedede;
    border-radius: 8px;
    margin: 0 auto;
    padding: 30px;
}
.template-bg-gray { background-color: #eee; }
.template-bg-gray h1 { color: rgb(74, 164, 180); }
.template-bg-image {
    background-color: rgb(60,60,60);
    background-image: url(/images/template-bg.jpg);
}
.template-bg-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.template-bg-image{ background-size: cover; }
.font-size-small { font-size: 0.8em; }
.margin-bottom-15 {	margin-bottom: 15px; }
.margin-bottom-30 {	margin-bottom: 30px; }
.form-group { margin-bottom: 20px; }
.form-group a {	line-height: 34px; }
.fa { font-size: 16px; }
.fa.login-with {
    font-size: 30px;
    margin: 0 5px;
}
.fa-medium { font-size: 20px; }
.inline-block { display: inline-block; }

.template-login-form {
    background-color: rgba(13,13,13,0.25);
    border-radius: 8px;
    color: #fff;
    font-weight: 300;
    max-width: 650px;
    padding: 0 30px 30px 30px;
    margin: 30px auto 0 auto;
}
.template-login-form h1 { color: #fff; margin-bottom: 40px; }
.template-login-form a { color: #DBDBDB; }
.template-login-form .form-control {
    background-color: rgba(83, 78, 78, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.27);
    color: rgb(255,255,255);
}
.template-login-form .template-input-icon-container .fa {	color: rgb(190, 190, 190); }
.template-login-form .control-label { margin-bottom: 10px; }
.template-login-form .btn {	width: 100%; }
.template-login-form .btn-social { max-width: 220px; }
.template-login-form label { font-weight: 400; }
.template-login-form .template-one-signin { border-right: 1px solid rgba(200, 200, 200, 0.5); }

