<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-align-justify"></i>
                    <span th:text="@{'磁盘空间：'+${disk.name}}"></span>
                </div>
                <div class="card-body">

                    <div class=" form-horizontal">
                        <div class="row">

                            <div class="col-md-3">
                                <div id="diskTree"></div>
                            </div>

                            <div class="col-md-9" style="float: right">

                                <div class="layui-btn-group file-table">
                                    <button class="layui-btn" data-type="downloadSelectedFiles">
                                        <i class="fas fa-cloud-download-alt"></i>下载
                                    </button>

                                    <button type="button" class="layui-btn uploadDialog" data-toggle="modal"
                                            data-target="#uploadModal">
                                        <i class="fas fa-cloud-upload-alt"></i>上传文件
                                    </button>

                                </div>

                                <table class="layui-table" id="LAY_table_files" lay-filter="file-table">
                                </table>

                                <script type="text/html" id="userOpsBar">
                                    <div class="layui-btn-group">
                                        <button class="layui-btn layui-btn-sm" lay-event="download">
                                            <i class="fas fa-cloud-download-alt" title="下载该文件"></i>
                                        </button>
                                        <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="delete">
                                            <i class="fas fa-trash-alt" title="删除文件"></i>
                                        </button>
                                    </div>
                                </script>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!--/.row-->
        </div>
    </div>
</div>

<!-- 模态框 -->
<div class="modal fade" id="uploadModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">上传文件</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <div class="table-responsive" style="text-align: center">
                    <form method="POST" enctype="multipart/form-data"
                          th:action="@{'./file/upload'}">
                        <table class="table table-hover">
                            <tr>
                                <td align="right">需要上传的文件:</td>
                                <td><input type="file" name="file"
                                           class="input custom-file"/></td>
                            </tr>
                            <tr>
                                <td align="right">访问权限:</td>
                                <td>
                                    <label><input id="shareSetting_PublicMode"
                                                  name="shareSetting" type="checkbox"
                                                  value="PublicMode"/>公开访问</label>
                                    <label><input id="shareSetting_GroupMode"
                                                  name="shareSetting" type="checkbox"
                                                  value="GroupMode"/>组内共享</label>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">共享组:</td>
                                <td>
                                    <select id="shareGroups" name="shareGroups"
                                            class="select custom-select"
                                            multiple="multiple">
                                        <option th:each="group : ${session.ActiveUser.groups}"
                                                th:value="${group}"
                                                th:text="${group}">共享组
                                        </option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <input type="hidden" id="containerId" name="containerId" />
                        <input type="hidden" id="containerType" name="containerType" />
                        <input type="submit" value="上传" class="btn btn-success"/>
                    </form>
                </div>
            </div>
            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭
                </button>
            </div>

        </div>
    </div>
</div>


<link href="./css/bootstrap-treeview.min.css" rel="stylesheet">
<script src="./js/bootstrap-treeview.min.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    layui.use('table', function () {
        var table = layui.table;
        var containerId = [[${disk.id.toString()}]],
            containerType = 'DISK';
        var opt = {
            elem: '#LAY_table_files',
            id: 'file-data',
            url: '/api/file/list?parentId='+[[${disk.id.toString()}]]+'&parentType=DISK',
            height: '510',
            cellMinWidth: 120,
            page: true, //开启分页,
            limit: 10,
            limits: [10, 20, 50, 100],
            cols: [
                [
                    {type: 'checkbox'},
                    {field: 'id', title: 'ID'},
                    {field: 'filename', title: '文件名'},
                    {field: 'length', title: '文件大小'},
                    {field: 'type', title: '文件类型'},
                    {field: 'uploadDate', title: '上传日期',width:240},
                    {
                        title: '操作',
                        width: 160,
                        align: 'center',
                        toolbar: '#userOpsBar'
                    }
                ]
            ],
            done: function (res, curr, count) {
                $("[data-field='id']").css('display', 'none');
            }
        };
        //方法级渲染
        table.render(opt);

        //监听表格复选框选择
        /*table.on('checkbox(file-table)', function (obj) {
            console.log(obj)
        });*/
        //监听工具条
        table.on('tool(file-table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'download') {
                //layer.msg('文件ID号：' + data.id + '名称：' + data.filename);
                window.open('file/download/' + data.id);
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除文件: '+data.filename+' 吗？', {title: "删除确认"}, function (index) {
                    postJSON("/api/file/delete", data.id)
                            .catch(error => {

                            })
                            .then(value => {
                                    var result=JSON.parse(value);
                                if (result == true) {
                                    layer.alert('文件【'+data.filename+'】删除成功!', {
                                        icon: 6, btn: ['确认'], yes: function (index) {
                                            obj.del();
                                            layer.close(index);
                                            var tableIns=table.render(opt);
                                            tableIns.reload();
                                        }
                                    });
                                } else {
                                    layer.alert("文件删除失败!", {icon: 2});
                                }
                                layer.close(index);
                            });
                });
            }
        });

        var $ = layui.$, active = {
            downloadSelectedFiles: function () { //下载选中的文件
                var checkStatus = table.checkStatus('file-data')
                    , data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
        };

        $('.file-table .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        $('#diskTree').treeview({
            data: [[${folderTree}]],
            levels:5,
            expandIcon: 'fas fa-folder',
            collapseIcon: 'fas fa-folder-open',
            nodeIcon: "fas fa-film",
            onNodeSelected: function(event, data) {
                containerId = data.id;
                containerType = 'FOLDER';
                reloadFileTable('/api/file/list',containerId,containerType);
            },
            onNodeUnselected: function(event, data) {
                containerId = [[${disk.id.toString()}]];
                containerType = 'DISK';
                reloadFileTable('/api/file/list',containerId,containerType);
            }
        });

        $(document).on("click", ".uploadDialog", function () {
            $("#containerId").val(containerId);
            $("#containerType").val(containerType);
        });

        function reloadFileTable(restUrl, parentId,parentType){
            table.reload('file-data', {
                url: restUrl,
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                where: {
                    parentId: parentId,
                    parentType:parentType
                }
            });
        }
        /*]]>*/
    });
</script>
