<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-align-justify"></i> 共享文件
                </div>
                <div class="card-body">

                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">共享组</label>
                            <div class="layui-input-block">
                                <select name="city" lay-verify="required">
                                    <option value=""></option>
                                    <option value="0">北京</option>
                                    <option value="1">上海</option>
                                    <option value="2">广州</option>
                                    <option value="3">深圳</option>
                                    <option value="4">杭州</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="layui-btn-group userTable">
                        <button class="layui-btn" data-type="getCheckData">获取选中行数据</button>
                        <button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
                        <button class="layui-btn" data-type="isAll">验证是否全选</button>
                    </div>

                    <table class="layui-table" id="LAY_table_user" lay-filter="userTable">
                    </table>

                    <script type="text/html" id="userOpsBar">
                        <div class="layui-btn-group">
                            <button class="layui-btn layui-btn-sm" lay-event="detail">
                                <i class="fas fa-info-circle" title="查看用户详细信息"></i>
                            </button>
                            <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="edit">
                                <i class="fas fa-edit" title="修改用户信息"></i>
                            </button>
                            <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">
                                <i class="fas fa-trash-alt" title="删除用户"></i>
                            </button>
                        </div>
                    </script>

                    <script th:inline="javascript">
                        layui.use('table', function () {
                            var table = layui.table;
                            var opt = {
                                elem: '#LAY_table_user',
                                id: 'reloadUserData',
                                url: '/api/user/list',
                                height: '510',
                                cellMinWidth: 120,
                                page: true, //开启分页,
                                limit: 10,
                                limits: [10, 20, 50, 100],
                                cols: [
                                    [
                                        {type: 'checkbox'},
                                        {field: 'id', title: 'ID'},
                                        {field: 'username', title: '用户名',width:160},
                                        {field: 'title', title: '显示名',width:160},
                                        {
                                            field: 'avatarId',
                                            title: '头像',
                                            align: 'center',
                                            width: 80,
                                            templet: '#avatarTpl'
                                        },
                                        {field: 'email', title: '邮箱'},
                                        {field: 'groups', title: '用户组'},
                                        {
                                            title: '操作',
                                            width: 160,
                                            align: 'center',
                                            toolbar: '#userOpsBar'
                                        }
                                    ]
                                ],
                                done: function (res, curr, count) {
                                    $("[data-field='id']").css('display', 'none');
                                }
                            };
                            //方法级渲染
                            table.render(opt);

                            //监听表格复选框选择
                            table.on('checkbox(userTable)', function (obj) {
                                console.log(obj)
                            });
                            //监听工具条
                            table.on('tool(userTable)', function (obj) {
                                var data = obj.data;
                                if (obj.event === 'detail') {
                                    layer.msg('用户ID号：' + data.id + '\n 显示名称：' + data.title);
                                } else if (obj.event === 'del') {
                                    layer.confirm('真的删除用户: '+data.username+' 吗？', {title: "删除确认"}, function (index) {
                                        postJSON("/api/user/delete", data.username)
                                            .catch(error => {

                                        })
                                    .then(value => {
                                            var result=JSON.parse(value);
                                        if (result == true) {
                                            layer.alert('用户'+data.username+'删除成功!', {
                                                icon: 6, btn: ['确认'], yes: function (index) {
                                                    obj.del();
                                                    layer.close(index);
                                                    var tableIns=table.render(opt);
                                                    tableIns.reload();
                                                }
                                            });
                                        } else {
                                            layer.alert("用户删除失败!", {icon: 2});
                                        }
                                        layer.close(index);
                                    });
                                    });

                                } else if (obj.event === 'edit') {
                                    layer.alert('编辑行：<br>' + JSON.stringify(data))
                                }
                            });

                            var $ = layui.$, active = {
                                getCheckData: function () { //获取选中数据
                                    var checkStatus = table.checkStatus('reloadUserData')
                                        , data = checkStatus.data;
                                    layer.alert(JSON.stringify(data));
                                }
                                , getCheckLength: function () { //获取选中数目
                                    var checkStatus = table.checkStatus('reloadUserData')
                                        , data = checkStatus.data;
                                    layer.msg('选中了：' + data.length + ' 个');
                                }
                                , isAll: function () { //验证是否全选
                                    var checkStatus = table.checkStatus('reloadUserData');
                                    layer.msg(checkStatus.isAll ? '全选' : '未全选')
                                }
                            };

                            $('.userTable .layui-btn').on('click', function () {
                                var type = $(this).data('type');
                                active[type] ? active[type].call(this) : '';
                            });
                        });
                    </script>

                </div>
            </div>
            <!--/.row-->
        </div>
    </div>
</div>

<script th:inline="javascript">

    layui.use(['table', 'form'], function () {
        var form = layui.form
            , table = layui.table;

        $('.folder-link').click(function() {
            var folderUrl = $(this).parents('tr').children('td').eq(0).find("#subFolderLink").val();
            //alert(folderUrl);
            setUpUrl(folderUrl);
        });

    });
</script>
