<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="${title}"></title>
    <link href="/css/app.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
<div class="generic-container">
    <div class="navbar-brand">
        <h2 th:text="${title}"/>
    </div>
    <div class="navbar-brand">
        <div class="text-right">
            <a class="btn btn-dark" th:href="@{'/logout'}" th:text="@{'退出系统'}"></a>
        </div>
    </div>
</div>
<div class="generic-container">
    <div class="panel panel-default" th:if="${currentdirectory}">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">文件上传</span></div>
        <div class="panel-body">
            <div class="table-responsive">
                <form method="POST" enctype="multipart/form-data" th:action="@{'/uploadFile'}">
                    <table class="table table-hover">
                        <tr>
                            <td align="right">文件分类:</td>
                            <td>
                                <select id="categoryId" name="categoryId" class="select custome-select">
                                    <option th:each="category : ${allCategories}"
                                            th:value="${category.id}" th:text="${category.type}">文件分类
                                    </option>
                                </select>
                            </td>
                            <td align="right">需要上传的文件:</td>
                            <td><input type="file" name="file" class="input custom-file"/></td>
                            <td>
                                <input type="hidden" id="directoryId" name="directoryId"
                                       th:value="${currentdirectory.id}"/>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <input type="submit" value="上传文件" class="btn btn-success"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>

    <div class="alert alert-success" th:if="${message}">
        <h2 th:text="${message}"/>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">文件清单</span></div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>文件名</th>
                        <th>文件长度</th>
                        <th>上传日期</th>
                        <th>文件分类</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:if="${currentdirectory}">
                        <td colspan="5">
                            <a th:href="@{'/dir/'+${currentdirectory.parentId}}" th:text="@{'返回上级目录'}"></a>
                        </td>
                    </tr>
                    <tr th:each="directory : ${directories}">
                        <td>
                            <i th:if="${directory.childrenCount>0}" class="fa fa-folder"></i>
                            <i th:if="${directory.childrenCount==0}" class="fa fa-folder-o"></i>
                            <a th:href="@{'/dir/'+${directory.id}}" th:text="${directory.path}"/>
                        </td>
                        <td th:text="@{'文件夹'}" colspan="3"></td>
                        <td>
                            <a th:href="@{'/zip/'+${directory.id}}" th:text="@{'下载此文件夹'}" class="btn btn-success"></a>
                        </td>
                    </tr>
                    <tr th:each="file : ${files}">
                        <form th:action="@{/deleteFile}" th:method="DELETE">
                            <td>
                                <span th:switch="${file.contentType}">
                                    <i th:case="pdf" class="fa fa-file-pdf-o"></i>
                                    <i th:case="xls" class="fa fa-file-excel-o"></i>
                                    <i th:case="xlsx" class="fa fa-file-excel-o"></i>
                                    <i th:case="doc" class="fa fa-file-word-o"></i>
                                    <i th:case="docx" class="fa fa-file-word-o"></i>
                                    <i th:case="ppt" class="fa fa-file-powerpoint-o"></i>
                                    <i th:case="pptx" class="fa fa-file-powerpoint-o"></i>
                                    <i th:case="gif" class="fa fa-file-image-o"></i>
                                    <i th:case="jpg" class="fa fa-file-image-o"></i>
                                    <i th:case="jpeg" class="fa fa-file-image-o"></i>
                                    <i th:case="png" class="fa fa-file-image-o"></i>
                                    <i th:case="bmp" class="fa fa-file-image-o"></i>
                                    <i th:case="tif" class="fa fa-file-image-o"></i>
                                    <i th:case="tiff" class="fa fa-file-image-o"></i>
                                    <i th:case="txt" class="fa fa-file-text-o"></i>
                                    <i th:case="zip" class="fa fa-file-zip-o"></i>
                                    <i th:case="rar" class="fa fa-file-zip-o"></i>
                                </span>
                                <a th:href="@{'/view/'+${file.storedId}}" th:text="${file.filename}"/>
                            </td>
                            <td th:text="${file.contentLength}">ID</td>
                            <td th:text="${#dates.format(file.uploadDate,'yyyy-MM-dd HH:mm:ss')}">ID</td>
                            <td th:text="${file.category}">ID</td>
                            <td>
                                <input type="hidden" id="fsEntityId" name="fsEntityId" th:value="${file.id}"/>
                                <input type="hidden" id="directoryId" name="directoryId"
                                       th:value="${currentdirectory.id}"/>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <input type="submit" value="删除" class="btn btn-danger"/>
                                <a th:href="@{'/download/'+${file.storedId}}" th:text="@{'下载'}"
                                   class="btn btn-success"></a>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>