<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="${title}"></title>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/app.css" rel="stylesheet"/>
</head>
<body>

<div th:if="${title}">
    <h2 th:text="${title}"/>
</div>

<div th:if="${currentdirectory}">
    <div>
        <table class="table table-hover">
            <tr>
                <td>当前目录</td>
                <td>所属用户</td>
                <td colspan="2">操作</td>
            </tr>
            <tr>
                <td><h3 th:text="${currentdirectory.path}"></h3></td>
                <td>
                    <div th:each="owner:${currentdirectory.owners}">
                        <div th:text="${owner.username}"/>
                    </div>
                </td>
                <td>
                    <a th:href="@{'zip/'+${currentdirectory.id}}" th:text="@{'批量下载文件夹内容'}"></a>
                </td>
                <td>
                    <a th:href="${currentdirectory.parentId}" th:text="@{'返回上级目录'}"></a>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <form method="POST" enctype="multipart/form-data" action=".">
            <table class="table table-hover">
                <tr>
                    <td>需要上传的文件:</td>
                    <td><input type="file" name="file"/></td>
                </tr>
                <tr>
                    <td>文件分类:</td>
                    <td>
                        <select id="categoryId" name="categoryId">
                            <option th:each="category : ${allCategories}"
                                    th:value="${category.id}" th:text="${category.type}">文件分类
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input id="directoryId" name="directoryId" type="hidden" th:value="${currentdirectory.id}"/>
                    </td>
                    <td>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="submit" value="上传"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>文件夹</th>
                <th>上级文件夹</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="directory : ${directories}">
                <td><a th:href="${directory.id}" th:text="${directory.path}"/></td>
                <td><a th:href="${directory.parentId}" th:text="${directory.parentId}"/></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>文件名</th>
                <th>文件长度</th>
                <th>上传日期</th>
                <th>所属文件分类</th>
                <th>上传用户</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="file : ${files}">
                <td><a th:href="@{'view/'+${file.storedId}}" th:text="${file.filename}"/></td>
                <td th:text="${file.contentLength}">ID</td>
                <td th:text="${#dates.format(file.uploadDate,'yyyy-MM-dd HH:mm:ss')}">ID</td>
                <td th:text="${file.category}">ID</td>
                <td>
                    <div th:each="owner:${file.owners}">
                        <div th:text="${owner.username}"/>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>