<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" href="css/loginstyle.css" />
</head>
<body>

<div class="container">
    <section id="content">
        <form th:action="@{/login}" method="post">
            <h1 th:text="${title}"/>
            <div>
                <input type="text" placeholder="用户名" required="required" id="username" name="username" />
            </div>
            <div>
                <input type="password" placeholder="密码" required="required" id="password" name="password" />
            </div>
            <div>
                <input type="submit" value="登录" />
                <a href="#">忘记密码？</a>
                <a href="#">注册</a>
            </div>
            <div th:if="${param.error}">
                用户名或密码输入有误！
            </div>
            <div th:if="${param.logout}">
                已成功退出系统！
            </div>
        </form><!-- form -->
    </section><!-- content -->
</div><!-- container -->

</body>
</html>